$primary: #008b9b;

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import '../../node_modules/bootstrap/scss/bootstrap';

.lead {
  @include font-size(.95rem);
  font-weight: $lead-font-weight;

    @media (min-width: map-get($container-max-widths, "md"))  {
        @include font-size(1.15rem);
    }
}

.lead-lg {
    @include font-size(1.3rem);
      font-weight: $lead-font-weight;

    @media (min-width: map-get($container-max-widths, "md"))  {
        @include font-size(1.6rem);
    }
}

.nav-fs {
    @include font-size(.9rem);
    font-weight: $lead-font-weight;
  
    @media (min-width: map-get($container-max-widths, "md"))  {
        @include font-size(1rem);
    }
}
